.deps
.libs
*.gmo
*.lo
*.la
*.o
*~
*.swp
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
docs/nautilus-sendto/version.xml
gtk-doc.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
nst.schemas
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
src/nautilus-sendto
src/nautilus-sendto.pc
src/nst-enum-types.c
src/nst-enum-types.h
src/plugins/bluetooth/bluetooth-marshal.c
src/plugins/bluetooth/bluetooth-marshal.h
src/plugins/evolution/econtactentry-marshal.c
src/plugins/evolution/econtactentry-marshal.h
stamp-h1
